h2.tropical {
  color: #f7325e;
}
p.tropical {
  color: #7dc410
}

.tropical {
  font-family: fantasy;
}

.popular {
  font-family: monospace;
  font-style: oblique;
}

h2.popular {
  font-weight: bolder;
}
